<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Client-UI</title>
	<link rel="stylesheet" href="/static/css/my-client.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		body {
			background-color:#DCDDDF6B;
		}
	</style>
	<script>
		$(document).ready(function() {
		$(".content-inner").css("background-color", "#BEBEBE7B");
		});
	</script>
</head>
<body>
	<div id="container">
		<div id="sidebar">
			<nav>
				<form action="/high" method="get">
					<input id="btn_high" type="submit" value="高速">
				</form>
				<form action="/mid" method="get">
					<input id="btn_mid" type="submit" value="中速">
				</form>
				<form action="/low" method="get">
					<input id="btn_low" type="submit" value="低速">
				</form>
				<button id="btn_mode">模式</button>
				<div id="control-bar">
				<form action="/up">
					<button id="btn_up">△</button>
				</form>
				<form action="/down">
					<button id="btn_down">▽</button>
				</form>
				<form action="/power">
					<button id="btn_power">开关</button>
				</form>
			</nav>
		</div>

		<div class="content-inner">
			<h2>空调控制面板</h2>

			<div id="temperature_box">
				<span id="const_set">设置温度</span>
				<span id="temperature">{{target_temp}}℃</span>
			</div>
			<table id="info_box">
				<tr>
					<td>室外温度：{{init_temp}}℃</td>
					<td>风速：{{fan_speed}}</td>
					<td>工作模式：--</td>
				</tr>
				<tr>
					<td>室内温度：{{current_temp}}℃</td>
					<td>费用：￥{{fee}}</td>
					<td>房间号：{{room_id}}</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>
