<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Reception</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="/static/css/reception.css">

</head>

<body>
    <!-- 外层容器，用于限制页面宽度 -->
    <div class="outer-container">
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <h3 class='col-sm-12' style="text-align:center">前台</h3>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">

            <!--***** SIDE NAVBAR *****-->
            <nav class="side-navbar">
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"></div>
                    <div class="title">
                        <h4 class="h4">切换身份</h4>
                    </div>
                </div>
                <hr>
                <!-- Sidebar Navidation Menus-->
                <ul class="list-unstyled">
                    <li> <a href="/monitor"><i class="icon-home"></i>空调管理员</a></li>
                    <li> <a href="/manager"> <i class="fa fa-bar-chart"></i>经理</a></li>
                </ul>
                <span class="heading">Extras</span>
                <ul class="list-unstyled">
                    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
                </ul>

                <!-- 生成和打印按钮 -->
                <div class="button-group">
                    <button id="generateBtn" type="button" class="btn btn-general btn-white mr-2">生成</button>
                    <button id="printBtn" type="button" class="btn btn-general btn-blue mr-2">打印</button>
                </div>
            </nav>

            <!-- 右侧内容 -->
            <div class="content-inner form-cont">
                <div class="row">
                    <div class="col-md-12">
                        <!--***** BASIC FORM *****-->
                        <div class="card form" id="form1">
                            <div class="card-header">
                                <h5>打印单据</h5>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <form id="receiptForm" action="/recp_submit" method="get">
                                        <div class="form-group">
                                            <label for="exampleSelect1">单据类型</label>
                                            <select class="form-control" id="exampleSelect1" name="type">
                                                <option value="rdr" selected>详单</option>
                                                <option value="bill">账单</option>
                                            </select>
                                            <label>房间号</label>
                                            <input class="form-control" name="room_id">
                                            <label>入住日期-退房日期</label>
                                            <div class="col-9">
                                                <input class="form-control" type="date" value="2024-11-29" name="begin_date">
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" type="date" value="2024-12-03" name="end_date">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript 代码：绑定生成和打印按钮的点击事件
        document.getElementById('generateBtn').addEventListener('click', function () {
            // 执行生成操作（如果有特殊操作可在此添加）
            alert('生成操作已执行');
        });

        document.getElementById('printBtn').addEventListener('click', function () {
            // 提交表单以打印
            document.getElementById('receiptForm').submit();
        });
    </script>

</body>

</html>
